@model List<MyGift>

<h1>Lista prezentów</h1>

<div>
    <a asp-action="AddGift" class="btn btn-primary">Dodaj nowy prezent</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Właściciel</th>
            <th> ----- </th>
        </tr>
    </thead>
    <tbody>
        @{
            int lp = 0;
        }
        @foreach (var g in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@g.Name</td>
                <td>@g.Price</td>
                <td>@g.Owner</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteGift" asp-route-id="@(lp-1)">
                        Usuń prezent
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>