@model List<NoticeFull>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl4.css">
    <title>Ogłoszenia</title>
</head>

<body>
    <header>
        <h2>Lista ogłoszeń</h2>
       
    </header>
    <main>
        <section id="left">
            <div style="margin: 20px;">
                <a class="btn" asp-action="AddNotice">Dodaj ogłoszenie</a>
            </div>
             <table>
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Kategoria</th>
                    <th>Podkategoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var notice in Model)
                {
                    <tr>
                        <td>@notice.Content</td>
                        <td>@notice.FirstName</td>
                        <td>@notice.LastName</td>
                        <td>@notice.CategoryName</td>
                        <td>@notice.SubCategoryName</td>
                    </tr>
                }
            </tbody>
        </table>
        </section>
        <section id="right">
            <div>
                <img src="~/ksiazki.jpg" alt="sprzedaj książkę">
            </div>

          
            <div>
                <a asp-action="List" asp-controller="Notices">Powrót do strony</a>
            </div>
           
            
        </section>
    </main>
    <footer>
        Portal ogłoszeniowy opracował: 00000000000

    </footer>
</body>

</html>
