@model List<Student>
@{
    ViewData["Title"] = "Lista studentów";
}
<h1>Lista studentów</h1>
<table>
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr indeksu</th>
            <th>Data urodzenia </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Firstname</td>
                <td>@student.Lastname</td>
                <td>@student.IndexNumber</td>
                <td>@student.Birthdate?.ToString("yyyy-MM-dd")</td>
                <td>
                    <a class="button" asp-action="EditStudent" asp-route-id="@student.Id">Edytuj</a>
                    <a class="button" asp-action="DeleteStudent" asp-route-id="@student.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>