@model List<User>
<h1>Lista użytkowników</h1>

<table class="table table-bordered table-hover">
    <thead>
        <th>Lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>wiek</th>
        <th>Rola</th>

    </thead>
    <tbody>
        @{
            int lp = 0;
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@(++lp)</td>
                <td>@user.Firstname</td>
                <td>
                    <a asp-action="UserInfo" 
                    asp-route-id="@user.Id">
                        @user.Lastname
                    </a>
                </td>
                <td>@user.Age</td>
                <td>@user.RoleName</td>
            </tr>
        }
    </tbody>
</table>