@model List<cw2_mysql.Models.Student>

<h1>Lista studentów</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Lp</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            @* <td>Identyfikator grupy</td> *@
            <td>Nazwa grupy</td>
        </tr>

    </thead>
    <tbody>
        @{int lp = 0;}
        @foreach(var student in Model){
            lp++;
            <tr>
                <td>@lp</td>
                <td>@student.Firstname</td>
                <td>@student.Lastname</td>
                @* <td>@student.GroupId</td> *@
                <td>@student.GroupName</td>
            </tr>
        }
    </tbody>
</table>